.filter {
  @include block();
  padding: 18px 15px;

  @media #{$without-aside} {
    height: 100%;
    border-radius: 0;
  }
}

.filter__item {
  margin-bottom: 33px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__item-header {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 18px;
}